asgiref==3.11.1
astroid==4.0.4
autopep8==2.3.2
beautifulsoup4==4.12.3
black==23.3.0
certifi==2024.8.30
celery==5.6.3
cffi==2.0.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.3.9
confusable-homoglyphs==3.2.0
cryptography==49.0.0
defusedxml==0.6.0
dill==0.4.1
django-debug-toolbar==4.4.6
django-registration==5.1.0
Django==5.2.16
flake8==7.3.0
gunicorn==23.0.0
html5lib==1.1
humanize==0.5.1
idna==3.10
importlib-metadata==4.2.0
isort==8.0.1
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==2.0.6
packaging==23.1
pathspec==0.11.2
Pillow==9.5.0
platformdirs==3.10.0
psycopg2==2.9.10
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
PyJWT==2.13.0
pylint==4.0.6
python3-openid==3.1.0
pytz==2024.2
requests-oauthlib==0.8.0
redis==5.0.8
requests==2.32.3
six==1.16.0
social-auth-app-django==5.4.3
social-auth-core==4.7.0
soupsieve==2.6
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.15.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.2.3
webencodings==0.5.1
zipp==3.15.0
